*{box-sizing: border-box;}
#box {
    background-color: grey;
    opacity: 0.5;
    width: 100%;
    border: 5px solid green;
    padding: 50px;
    margin: 20px;
    text-align: center;
  }
  .align{
   
    text-align: center;
  }